node
[{"id":"467715e.5d618ec","type":"tab","label":"Flow 1"},{"id":"43a5e3f4.d06c7c","type":"debug","z":"467715e.5d618ec","name":"","active":true,"console":"false","complete":"payload","x":650,"y":180,"wires":[]},{"id":"dffe2a23.f5b348","type":"rpi-neopixels","z":"467715e.5d618ec","name":"","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":630,"y":320,"wires":[]},{"id":"8c9f98b.17c9168","type":"ui_colour_picker","z":"467715e.5d618ec","name":"","label":"","group":"9cf6d6b7.187118","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"6","passthru":true,"topic":"","x":130,"y":220,"wires":[["43a5e3f4.d06c7c","dffe2a23.f5b348"]]},{"id":"71af504f.6ba92","type":"twitter in","z":"467715e.5d618ec","twitter":"","tags":"#cheerlights","user":"false","name":"","topic":"tweets","inputs":0,"x":70,"y":60,"wires":[["4a0056b9.c00c58"]]},{"id":"7ed27ac4.23ab24","type":"inject","z":"467715e.5d618ec","name":"","topic":"","payload":"a blue sentence containing the magenta pink name of a Colour","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["4a0056b9.c00c58"]]},{"id":"e8364d3c.323b1","type":"function","z":"467715e.5d618ec","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":280,"wires":[[]]},{"id":"4a0056b9.c00c58","type":"exec","z":"467715e.5d618ec","command":"python /home/pi/Desktop/colours.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":80,"wires":[["2a704714.f60678"],[],[]]},{"id":"2a704714.f60678","type":"debug","z":"467715e.5d618ec","name":"","active":true,"console":"false","complete":"false","x":690,"y":60,"wires":[]},{"id":"5506f66a.70aab8","type":"function","z":"467715e.5d618ec","name":"","func":"var msglen = { payload: msg.payload.length };\nmsg = msg.payload.substring(1, msglen-1)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["7b9959f9.ea2798"]]},{"id":"f002e4c.53fae18","type":"inject","z":"467715e.5d618ec","name":"","topic":"","payload":"text","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":180,"wires":[["5506f66a.70aab8"]]},{"id":"7b9959f9.ea2798","type":"debug","z":"467715e.5d618ec","name":"","active":true,"console":"false","complete":"false","x":550,"y":140,"wires":[]},{"id":"9cf6d6b7.187118","type":"ui_group","z":"","name":"Default","tab":"73faa3d0.fc40ac","disp":true,"width":"6"},{"id":"73faa3d0.fc40ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]